<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.7.1/jquery.min.js" 
    integrity="sha512-v2CJ7UaYy4JwqLDIrZUI/4hqeoQieOmAZNXBeQyjo21dadnwR+8ZaIJVT8EE2iyI61OV8e6M8PP2/4hpQINQ/g==" 
    crossorigin="anonymous" referrerpolicy="no-referrer"></script>
</head>
<body>
    <table>
        <tr>
            <td>Xoài</td>
            <td>Cam</td>
        </tr>
        <tr>
            <td>Chuối</td>
            <td>Kiwi</td>
        </tr>
        <tr>
            <td>Mãng Cầu</td>
            <td>Bòn Bon</td>
        </tr>
        <tr>
            <td>Na</td>
            <td>Dâu Tây</td>
        </tr>
        <tr>
            <td>Mận</td>
            <td>Táo</td>
        </tr>
        <tr>
            <td>Mít</td>
            <td>Sầu riêng</td>
        </tr>
    </table>


    <script>
        $(document).ready(function(){
            $("tr:even").css("background-color","green")
            $("tr:odd").css("background-color","violet")
        })
    </script>
</body>
</html>