<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Trang chủ</title>
    <link rel="stylesheet" href="/Lesson06/css/index.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.6.0/css/all.min.css" 
    integrity="sha512-Kc323vGBEqzTmouAECnVceyQqyqdsSiqLQISBL29aUW4U/M7pSPA/gEUZQqv1cwx4OnYxTxve5UMg5GT6L4JJg==" crossorigin="anonymous" referrerpolicy="no-referrer" />
</head>
<body>
    <header>
        <div class="logo">
            <a href="index.html"><img src="/Lesson06/images/logo.png" alt="ảnh logo"></a>
        </div>
    <nav>
        <ul>
            <li><a href="index.html">Trang chủ</a></li>
            <li><a href="index.html">Giới thiệu</a></li>
            <li><a href="product.html">Sản phẩm</a></li>
            <li><a href="index.html">Đối tác</a></li>
            <li><a href="index.html">Tin tức</a></li>
            <li><a href="index.html">Liên hệ</a></li>
        </ul>
    </nav>
    <div class="icon">
        <div class="icon-cart"><i class="fa-solid fa-bag-shopping"></i></div>
        <div class="icon-like"><i class="fa-regular fa-heart"></i></div>
        <div class="icon-search"><i class="fa-solid fa-magnifying-glass"></i></div>
    </div>
    </header>

    <div class="home-banner">
        <div class="home-banner_content">
            <h1>
                THẾ GIỚI NỘI THẤT SỐ 1 VIỆT NAM <br><span>HOÀNG HOAN</span>
            </h1>
            <p>
                Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aperiam iste reprehenderit sequi vel consectetur quidem amet maxime nostrum <br> magnam. Inventore quaerat illo doloremque. Nulla repellat similique, esse et enim optio.
            </p>
            <button class="honne-banner_btn">
                <a href="">LIÊN HỆ NGAY</a>
            </button>
        </div>
    </div>

    <div class="home-category">
        <div class="list-category">
            <div class="row">
                <div class="col-md-3">
                    <a href="">
                        <img src="/Lesson06/images/loai-sp/icon-phong-khach.png" alt="">
                        <p>Phòng khách</p>
                    </a>
                </div>
                <div class="col-md-3">
                    <a href="">
                        <img src="/Lesson06/images/loai-sp/icon-phong-ngu.png" alt="">
                        <p>Phòng ngủ</p>
                    </a>
                </div>
                <div class="col-md-3">
                    <a href="">
                        <img src="/Lesson06/images/loai-sp/icon-phong-bep.png" alt="">
                        <p>Phòng bếp</p>
                    </a>
                </div>
                <div class="col-md-3">
                    <a href="">
                        <img src="/Lesson06/images/loai-sp/icon-phong-tam.png" alt="">
                        <p>phòng tắm</p>
                    </a>
                </div>
                <div class="col-md-3">
                    <a href="">
                        <img src="/Lesson06/images/loai-sp/icon-van-phong.png" alt="">
                        <p>Văn phòng</p>
                    </a>
                </div>
                <div class="col-md-3">
                    <a href="">
                        <img src="/Lesson06/images/loai-sp/icon-cau-thang.png" alt="">
                        <p>Cầu thang</p>
                    </a>
                </div>
                <div class="col-md-3">
                    <a href="">
                        <img src="/Lesson06/images/loai-sp/icon-do-trang-tri.png" alt="">
                        <p>Đồ trang trí</p>
                    </a>
                </div>
            </div>
        </div>
    </div>

    <div class="home-aboutUs">
        <div class="home-aboutUs_content">
            <h4>Về chúng tôi</h4>
            <div class="row">
                <div class="col-md-6">
                    <img src="" alt="">
                </div>
                <div class="col-md-6">
                    <p>nội thất <span>hoàng hhoan</span> <br> uy tín song hành chất lượng</p>
                    <p>Nội thất của <span>Hoàng hoan</span> chúng tôi tự hào là đứa con tinh thần ra đời sau 30 năm hoạt dộng kinh doanh đồ gỗ nội thất với thương hiệu Đồ gỗ Hoàng Hoan</p>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Id quasi rem tenetur provident praesentium voluptatibus ducimus dolorum vitae temporibus fugiat laboriosam nisi hic, in aspernatur veritatis et ipsa esse at!</p>
                    <div class="list-img">
                        <ul>
                            <li>
                                <div class="box">
                                    <img src="/Lesson06/images/ve-chung-toi/ve-chung-toi-1.jpg" alt="">
                                    <div class="see-more">
                                        <a href="" class="btn">Xem thêm</a>
                                    </div>
                                </div>
                            </li>
                            <li>
                                <div class="box">
                                    <img src="/Lesson06/images/ve-chung-toi/ve-chung-toi-2.jpg" alt="">
                                    <div class="see-more">
                                        <a href="" class="btn">Xem thêm</a>
                                    </div>
                                </div>
                            </li>
                            <li>
                                <div class="box">
                                    <img src="/Lesson06/images/ve-chung-toi/ve-chung-toi-3.jpg" alt="">
                                    <div class="see-more">
                                        <a href="" class="btn">Xem thêm</a>
                                    </div>
                                </div>
                            </li>
                            <li>
                                <div class="box">
                                    <img src="/Lesson06/images/ve-chung-toi/ve-chung-toi-4.jpg" alt="">
                                    <div class="see-more">
                                        <a href="" class="btn">Xem thêm</a>
                                    </div>
                                </div>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="footer">
        <div>
            <h2> Thông tin chung</h2>
            <h5 class="h5"></h5><br/>
            <h1>CÔNG TY TNHH HOÀNG HOAN</h1><br/>
            <h4><i class="fa-solid fa-phone"></i>0999999999</h4><br/>
            <h4><i class="fa-regular fa-envelope"></i>cskh@hoanghoan.vn</h4><br/>
            <h4><i class="fa-solid fa-location-dot"></i>Số 1 Nguyễn Trãi, Thanh Xuân, Hà Nội</h4><br/>
         </div>
        <div >
            <h2>Về chúng tôi</h2>
            <h5 class="h5"></h5><br/>
            <h4>Giới thiệu</h4><br/>
            <h4>Sản phẩm</h4><br/>
            <h4>Tin tức</h4><br/>
            <h4>Đối tác</h4><br/>
            <h4>Liên hệ</h4><br/>
        </div>
        <div >
            <h2>Kết nối với chúng tôi</h2>
            <h5 class="h5"></h5><br/>
            <div><i class="fa-brands fa-facebook"></i><i class="fa-brands fa-tiktok"></i><i class="fa-brands fa-twitter"></i></div><br/>
            <div>
                <img src="/Lesson06/images/ve-chung-toi/chat-luong.jpg" alt="ảnh chất lượng">
            </div>
        </div>
    </div>
</footer>
</body>
</html>