<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>News</title>
    <link rel="stylesheet" href="/Lesson06/css/index.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.6.0/css/all.min.css" 
    integrity="sha512-Kc323vGBEqzTmouAECnVceyQqyqdsSiqLQISBL29aUW4U/M7pSPA/gEUZQqv1cwx4OnYxTxve5UMg5GT6L4JJg==" crossorigin="anonymous" referrerpolicy="no-referrer" />
</head>
<body>
    <header>
        <div class="logo">
            <a href="index.html">
                <img src="/Lesson06/images/logo.png" alt="ảnh logo Devmaster" />
            </a>
        </div>
        <nav>
            <ul>
                <li><a href="index.html">Trag chủ</a></li>
                <li><a href="index.html">Giới thiệu</a></li>
                <li><a href="index.html">Sản phẩm</a></li>
                <li><a href="index.html">Đối tác</a></li>
                <li><a href="index.html">Tin tức</a></li>
                <li><a href="index.html">Liên hệ</a></li>
            </ul>
        </nav>
        <div class="icon">
            <div class="icon-cart"><i class="fa-solid fa-bag-shopping"></i></div>
            <div class="icon-like"><i class="fa-solid fa-heart"></i></div>
            <div class="icon-search"><i class="fa-solid fa-magnifying-glass"></i></div>
        </div>
    </header>

    <div class="news">
        <div class="transition">
            <div class="trannews">
                <a href="index.html">Trang chủ</a> > <a href="news.html">Tin tức</a>
            </div>
            <div class="container">
                <div class="left">
                    <h2>Top 10 mẫu nội thất chung cư 1 phòng ngủ</h2>
                    <p>Những căn hộ chung cư mini có diện tích nhỏ, ngày càng trở nên ưa chuộng hơn trong cuộc sống
                        hiện đại với những ai có khoản kinh phí “hạn hẹp”. Thiết kế nội thất chung cư một phòng ngủ
                        chính là giải pháp tối ưu nhất mang lại một không gian sống hoàn hảo và hiện đại.</p>
                    <br>
                    <div class="imgnews">
                        <img src="/Lesson06/images/tin-tuc/tintuc-1.jpg" alt="Ảnh tin tức chính" />
                    </div>
                </div>
                <div class="right">
                    <h3>Bài viết mới</h3>
                    <div class="row">
                        <div class="coll"><img src="/Lesson06/images/tin-tuc/tintuc-1.jpg" alt="" /></div>
                        <div class="collum">
                            <p>NGẤT NGÂY VỚI TOP 10 MẪU NỘI THẤT CHUNG CƯ 1 PHÒNG NGỦ</p>
                            <p><i class="fa-regular fa-clock"></i>7/30/1020 12:00:00 AM</p>
                        </div>
                    </div>
                    <div class="row">
                        <div class="coll"><img src="/Lesson06/images/tin-tuc/tintuc-1.jpg" alt="" /></div>
                        <div class="collum">
                            <p>25+ MẪU GIƯỜNG NGỦ HỘC KÉO THÔNG MINH CHO CĂN PHÒNG BẠN</p>
                            <p><i class="fa-regular fa-clock"></i>7/30/1020 12:00:00 AM</p>
                        </div>
                    </div>
                    <div class="row">
                        <div class="coll"><img src="/Lesson06/images/tin-tuc/tintuc-1.jpg" alt="" /></div>
                        <div class="collum">
                            <p>TUYỆT CHIÊU THIẾT KẾ CHUNG CƯ MINI 2 PHÒNG NGỦ SIÊU ĐẸP</p>
                            <p><i class="fa-regular fa-clock"></i>7/30/1020 12:00:00 AM</p>
                        </div>
                    </div>
                    <div class="row">
                        <div class="coll"><img src="/Lesson06/images/tin-tuc/tintuc-1.jpg" alt="" /></div>
                        <div class="collum">
                            <p>NGẤT NGÂY VỚI TOP 10 MẪU NỘI THẤT CHUNG CƯ 1 PHÒNG NGỦ</p>
                            <p><i class="fa-regular fa-clock"></i>7/30/1020 12:00:00 AM</p>
                        </div>
                    </div>
                    <div class="row">
                        <div class="coll"><img src="/Lesson06/images/tin-tuc/tintuc-1.jpg" alt="" /></div>
                        <div class="collum">
                            <p>NGẤT NGÂY VỚI TOP 10 MẪU NỘI THẤT CHUNG CƯ 1 PHÒNG NGỦ</p>
                            <p><i class="fa-regular fa-clock"></i>7/30/1020 12:00:00 AM</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="aboutus"></div>
        <h1>Giới thiệu</h1>
        <p>
            Lorem ipsum dolor sit, amet consectetur adipisicing elit. Nulla consequatur voluptatem nam dignissimos
            expedita. Perspiciatis architecto ea exercitationem cupiditate quis. Accusantium, culpa itaque
            exercitationem laboriosam sunt at placeat ipsam cupiditate.
        </p>
        <a href="aboutus.html">
            Xem thêm...
        </a>
    </div>
    <section class="row">
        <div class="col">
            <img src="/Lesson06/images/col1.jpg" alt="">
        </div>
        <div class="col">
            <img src="/Lesson06/images/col2.jpg" alt="">
        </div>
        <div class="col">
            <img src="/Lesson06/images/col3.jpg" alt="">
        </div>
        <div class="col">
            <img src="/Lesson06/images/col4.jpg" alt="">
        </div>
    </section>


    <footer>
        <div class="footer">
            <div class="infor">
                <h2>THÔNG TIN CHUNG</h2>
                <h5 class="h5"></h5>
                <br>
                <h1>CÔNG TY TNHH HOÀNG HOAN</h1>
                <br>
                <h4><i class="fa-solid fa-phone"></i>&nbsp;0.9999.9999</h4>
                <br>
                <h4><i class="fa-solid fa-envelope"></i>&nbsp;csk@gmail.com</h4>
                <br>
                <h4><i class="fa-solid fa-location-dot"></i>&nbsp;Nguyễn Trãi, Hà Đông</h4>
            </div>
            <div class="about-us">
                <h2>VỀ CHÚNG TÔI</h2>
                <h5 class="h5"></h5>
                <br>
                <h3>Giới thiệu</h3>
                <br>
                <h4>Sản phẩm</h4>
                <br>
                <h4>Tin tức</h4>
                <br>
                <h4>Đối tác</h4>
                <br>
                <h4>Liên hệ</h4>
            </div>
            <div class="contact">
                <h2>KẾT NỐI VỚI  CHÚNG TÔI</h2>
                <h5 class="h5"></h5>
                <br>
                <div>
                    <i class="fa-brands fa-square-facebook"></i>&nbsp;
                    <i class="fa-brands fa-facebook-messenger"></i>&nbsp;
                    <i class="fa-brands fa-square-twitter"></i>
                </div>
                <br>
                <div>
                    <img src="" alt="">
                </div>
            </div>
        </div>
    </footer>
</body>
</html>