<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Products</title>
    <link rel="stylesheet" href="/Lesson06/css/products.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.6.0/css/all.min.css" 
    integrity="sha512-Kc323vGBEqzTmouAECnVceyQqyqdsSiqLQISBL29aUW4U/M7pSPA/gEUZQqv1cwx4OnYxTxve5UMg5GT6L4JJg==" crossorigin="anonymous" referrerpolicy="no-referrer" />
</head>
<body>
    <!-- Begin: Header -->
    <header>
        <nav>
            <div class="logo">
                <img src="/Lesson06/images/logo.png" alt="Logo">
            </div>
            <ul>
                <li><a href="#">Trang chủ</a></li>
                <li><a href="#">Giới thiệu</a></li>
                <li><a href="#">Sản phẩm</a></li>
                <li><a href="#">Tin tức</a></li>
                <li><a href="#">Đối tác</a></li>
                <li><a href="#">Liên hệ</a></li>
            </ul>
            <div class="icon">
                <i class="fa-solid fa-bag-shopping"></i>
                <i class="fa-regular fa-heart"></i>
                <i class="fa-solid fa-magnifying-glass"></i>
            </div>
        </nav>
    </header>
    <!-- End: Header -->
    <main>
        <!-- Begin: Banner -->
        <section class="banner">
            <div class="image">
                <img src="/Lesson06/images/banner.png" alt="">
            </div>
        </section>
        <!-- End: Banner -->

        <!-- Begin: Product-list -->
        <section class="product-list">
            <div class="container">
                <div class="product-commit">
                    <div class="commit">
                        <h2>PHÒNG KHÁCH</h2>
                        <h5></h5>
                        <p>Xem tất cả</p>
                    </div>
                    <div class="list-img">
                        <div class="list-card">
                            <div class="row">
                                <div class="img">
                                    <img src="/Lesson06/images/san-pham-noi-bat/sp-1.jpg" alt="">
                                </div>
                                <div class="card">
                                    <p>Bàn uống nước</p>
                                    <i class="fa-regular fa-star"></i>
                                    <i class="fa-regular fa-star"></i>
                                    <i class="fa-regular fa-star"></i>
                                    <i class="fa-regular fa-star"></i>
                                    <i class="fa-regular fa-star"></i>
                                    <br>
                                    <del>9.500.000 VND</del>
                                    <p>8.990.000 VND</p>
                                </div>
                            </div>
                        </div>
                        <div class="list-card">
                            <div class="row">
                                <div class="img">
                                    <img src="/Lesson06/images/san-pham-noi-bat/sp-1.jpg" alt="">
                                </div>
                                <div class="card">
                                    <p>Kệ TV</p>
                                    <i class="fa-regular fa-star"></i>
                                    <i class="fa-regular fa-star"></i>
                                    <i class="fa-regular fa-star"></i>
                                    <i class="fa-regular fa-star"></i>
                                    <i class="fa-regular fa-star"></i>
                                    <br>
                                    <del>5.200.000 VND</del>
                                    <p>4.560.000 VND</p>
                                </div>
                            </div>
                        </div>
                        <div class="list-card">
                            <div class="row">
                                <div class="img">
                                    <img src="/Lesson06/images/san-pham-noi-bat/sp-1.jpg" alt="">
                                </div>
                                <div class="card">
                                    <p>Kệ đồ</p>
                                    <i class="fa-regular fa-star"></i>
                                    <i class="fa-regular fa-star"></i>
                                    <i class="fa-regular fa-star"></i>
                                    <i class="fa-regular fa-star"></i>
                                    <i class="fa-regular fa-star"></i>
                                    <br>
                                    <del>6.000.000 VND</del>
                                    <p>4.990.000 VND</p>
                                </div>
                            </div>
                        </div>
                        <div class="list-card">
                            <div class="row">
                                <div class="img">
                                    <img src="/Lesson06/images/san-pham-noi-bat/sp-1.jpg" alt="">
                                </div>
                                <div class="card">
                                    <p>SOFA</p>
                                    <i class="fa-regular fa-star"></i>
                                    <i class="fa-regular fa-star"></i>
                                    <i class="fa-regular fa-star"></i>
                                    <i class="fa-regular fa-star"></i>
                                    <i class="fa-regular fa-star"></i>
                                    <br>
                                    <del>10.000.000 VND</del>
                                    <p>8.400.000 VND</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!-- End: Product-list -->
    </main>
    <!-- Begin: Footer -->
    <footer>

    </footer>
    <!-- End: Footer -->
</body>
</html>